<div class="image width-{{ item.value.width }}">
  <a href="{{ item.value.url }}">
    <img src="assets/{{ item.value.asset }}" />
  </a>
  <if condition="item.value.caption">
    <p class="image-caption-text">
      {{{ item.value.caption }}}
    </p>
  </if>
  <if condition="item.value.video">
    <div class="video-container {{ item.value.class }}">
      <video controls class="video" preload="metadata">
        <source src="assets/{{ item.value.video }}" />
      </video>
    </div>
  </if>
</div>
